<div class="page-title">
    <div class="row">
        <div class="col-12">
            <h3>Приети поръчки | 12.12.2021</h3>
            <p class="text-subtitle text-muted">Можете да управлявате приетите Ви поръчки за деня, като така направата на отчет става далеч по-приятна работа.</p>
        </div>
    </div>
</div>
<section class="section">
    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Време на изпълнение</th>
                        <th>Повече детайли</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td>5 минути</td>
                        <td><a asp-area="TaxiDriver" asp-controller="Orders" asp-action="Edit" role="button"><i class="fas fa-edit"></i></a></td>
                    </tr>
                    <tr>
                        <td>10 минути</td>
                        <td><a asp-area="TaxiDriver" asp-controller="Orders" asp-action="Edit" role="button"><i class="fas fa-edit"></i></a></td>
                    </tr>
                    <tr>
                        <td>30 минути</td>
                        <td><a asp-area="TaxiDriver" asp-controller="Orders" asp-action="Edit" role="button"><i class="fas fa-edit"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
