<div class="page-title">
    <div class="row">
        <div class="col-12">
            <h3>Приети поръчки</h3>
            <p class="text-subtitle text-muted">Тук са всички приети от вас поръчки.</p>
        </div>
    </div>
</div>
<section class="section">
    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Време на изпълнение</th>
                        <th>Повече детайли</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td>5 минути</td>
                        <td><a asp-area="TaxiDriver" asp-controller="Orders" asp-action="Details" role="button"><i class="fas fa-edit"></i></a></td>
                    </tr>
                    <tr>
                        <td>10 минути</td>
                        <td><a asp-area="TaxiDriver" asp-controller="Orders" asp-action="Details" role="button"><i class="fas fa-edit"></i></a></td>
                    </tr>
                    <tr>
                        <td>30 минути</td>
                        <td><a asp-area="TaxiDriver" asp-controller="Orders" asp-action="Details" role="button"><i class="fas fa-edit"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
