@using TaxiBook.Areas.TaxiDriver.ViewModels.Orders
@model CreateOrderViewModel

<div class="page-title">
    <div class="row">
        <div class="col-12">
            <h3>Направи поръчка</h3>
            <p class="text-subtitle text-muted">Тук можете да създадете нова поръчка.</p>
        </div>
    </div>
</div>
<div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2956.173642003534!2d24.332994640815865!3d42.189354637596956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbg!4v1647159005753!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form" method="post" asp-area="TaxiDriver" asp-controller="Orders" asp-action="Create">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="endLocation">Крайна точка</label>
                                        <div class="position-relative">
                                            <input asp-for="EndLocation" type="text" class="form-control" placeholder="Крайна точка" id="endLocation">
                                            <div class="form-control-icon">
                                                <i class="fas fa-map-marked-alt"></i>
                                            </div>
                                        </div>
                                        <span asp-validation-for="EndLocation" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="countOfPassengers">Брой пътуващи</label>
                                        <div class="position-relative">
                                            <input asp-for="CountOfPassengers" type="number" min="1" max="6" class="form-control" placeholder="Бройка на пътуващи" id="countOfPassengers">
                                            <div class="form-control-icon">
                                                <i class="fas fa-users"></i>
                                            </div>
                                        </div>
                                        <span asp-validation-for="CountOfPassengers" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary mr-1 mb-1">Стартирай</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    window.onbeforeunload = function() {
        return "Are you sure you want to close the window?";
    };
</script>
