@model TaxiBook.Areas.TaxiDriver.ViewModels.Orders.CreateOrderViewModel

<div class="page-title">
    <div class="row">
        <div class="col-12">
            <h3>Направи поръчка</h3>
            <p class="text-subtitle text-muted">Тук лесно може да въведете данните на клиента, който е решил да използва услугите на Вашата компания.</p>
        </div>
    </div>
</div>
<div class="mapouter">
    <div class="gmap_canvas">
        <iframe class="card-img-top img-fluid" alt="singleminded" id="gmap_canvas" src="https://maps.google.com/maps?q=Sofia&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <a href="https://123movies-to.org"></a><br /> 
    </div>
</div>
<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form" method="post" asp-area="TaxiDriver" asp-controller="Orders" asp-action="Create" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="first-name-icon">Начална точка</label>
                                        <div class="position-relative">
                                            <input asp-for="CurrentLocation" type="text" class="form-control" placeholder="Начална точка" id="first-name-icon">
                                            <span asp-validation-for="CurrentLocation" class="text-danger"></span>
                                            <div class="form-control-icon">
                                                <i class="fas fa-street-view"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="first-name-icon">Крайна дестинация</label>
                                        <div class="position-relative">
                                            <input asp-for="EndLocation" type="text" class="form-control" placeholder="Крайна дестинация" id="first-name-icon">
                                            <span asp-validation-for="EndLocation" class="text-danger"></span>
                                            <div class="form-control-icon">
                                                <i class="fas fa-map-marked-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="first-name-icon">Уточнение</label>
                                        <div class="position-relative">
                                            <input asp-for="CurrentLocationDetails" type="text" class="form-control" placeholder="Повече за местоположението на Вашия клиент" id="first-name-icon">
                                            <span asp-validation-for="CurrentLocationDetails" class="text-danger"></span>
                                            <div class="form-control-icon">
                                                <i class="fas fa-pen"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="first-name-icon">Уточнение</label>
                                        <div class="position-relative">
                                            <input asp-for="EndLocationDetails" type="text" class="form-control" placeholder='Повече за крайната дестинация на Вашия клиент' id="first-name-icon">
                                            <span asp-validation-for="EndLocationDetails" class="text-danger"></span>
                                            <div class="form-control-icon">
                                                <i class="fas fa-pen"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="first-name-icon">Брой пътуващи</label>
                                        <div class="position-relative">
                                            <input asp-for="CountOfPassengers" type="number" class="form-control" placeholder="Бройка на пътуващи" id="first-name-icon">
                                            <span asp-validation-for="CountOfPassengers" class="text-danger"></span>
                                            <div class="form-control-icon">
                                                <i class="fas fa-users"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="first-name-icon">Допълнителни изисквания</label>
                                        <div class="position-relative">
                                            <input asp-for="AdditionalRequirements" type="text" class="form-control" placeholder="Като например помощ с багаж" id="first-name-icon">
                                            <span asp-validation-for="AdditionalRequirements" class="text-danger"></span>
                                            <div class="form-control-icon">
                                                <i class="far fa-handshake"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary mr-1 mb-1">Стартирай</button>
                                <button type="reset" class="btn btn-light-secondary mr-1 mb-1">Върни по подразбиране</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
