@using TaxiBook.Areas.TaxiDriver.ViewModels.Orders
@model OrderListingViewModel

<div class="page-title">
    <div class="row">
        <div class="col-12">
            <h3>Отказани поръчки</h3>
            <p class="text-subtitle text-muted">Тук са всички отказани поръчки, които са били предназначени за изпълнение от вас.</p>
        </div>
    </div>
</div>
@if (this.Model.RefusedOrders.Count() != 0)
{
    <section class="section">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th>Направена</th>
                            <th>Отказана</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @foreach (var order in this.Model.RefusedOrders)
                        {
                            <tr>
                                <td>@order.CreatedOn.ToString("HH:mm"), @order.CreatedOn.ToString("dd.MM.yyyy") г.</td>
                                @if (order.CompletedOn != null)
                                {
                                    <td>@order.CompletedOn?.ToString("HH:mm"), @order.CompletedOn?.ToString("dd.MM.yyyy") г.</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <br /><br /><br />
}
else
{
    <section class="section">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th>Направена</th>
                            <th>Отказана</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <br /><br /><br /><br /><br /><br />
}
