<div class="page-title">
    <div class="row">
        <div class="col-12">
            <h3>Отказани поръчки</h3>
            <p class="text-subtitle text-muted">Тук са всички отказани поръчки, които са били предназначени за изпълнение от вас.</p>
        </div>
    </div>
</div>
<section class="section">
    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Направена</th>
                        <th>Отказана</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td>7:34</td>
                        <td>7:36</td>
                    </tr>
                    <tr>
                        <td>13:05</td>
                        <td>13:06</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
