<div class="page-title">
    <div class="row">
        <div class="col-12">
            <h3>Неприети поръчки</h3>
            <p class="text-subtitle text-muted">Тук са всички поръчки, направени онлайн, които изискват да бъдат приети за изпълнение.</p>
        </div>
    </div>
</div>
<div class="card collapse-icon accordion-icon-rotate">
    <div class="card-content">
        <div class="card-body">
            <div class="accordion" id="cardAccordion">
                <div class="card collapse-header">
                    <div class="card-header" id="headingTwo" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" role="button">
                        <span class="collapsed collapse-title">12:20, 17.03.2022</span>
                    </div>
                    <div id="collapseTwo" class="collapse pt-1" aria-labelledby="headingTwo" data-parent="#cardAccordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="clientName">Име</label>
                                        <div class="position-relative">
                                            <input disabled type="text" class="form-control" value='Тест' id="clientName">
                                            <div class="form-control-icon">
                                                <i class="fas fa-street-view"></i>
                                            </div>
                                        </div>                  
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="phoneNumber">Телефонен номер</label>
                                        <div class="position-relative">
                                            <input disabled type="tel" class="form-control" value='8765464334' id="phoneNumber">
                                            <div class="form-control-icon">
                                                <i class="fas fa-street-view"></i>
                                            </div>
                                        </div>                  
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="currentLocation">Начална точка</label>
                                        <div class="position-relative">
                                            <input disabled type="text" class="form-control" value='бул. "България" 50' id="currentLocation">
                                            <div class="form-control-icon">
                                                <i class="fas fa-street-view"></i>
                                            </div>
                                        </div>                  
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group position-relative">
                                        <label for="currentLocationDetails">Уточнение за начална точка</label>
                                        <textarea disabled id="currentLocationDetails" class="form-control" rows="2"></textarea>              
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="endLocation">Крайна точка</label>
                                        <div class="position-relative">
                                            <input disabled type="text" class="form-control" value='ул. "Кокиче" 20' id="endLocation">
                                            <div class="form-control-icon">
                                                <i class="fas fa-map-marked-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group position-relative">
                                        <label for="endLocationDetails">Уточнение за крайна точка</label>
                                        <textarea disabled id="endLocationDetails" class="form-control" rows="2"></textarea>             
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="countOfPassengers">Брой пътуващи</label>
                                        <div class="position-relative">
                                            <input disabled type="number" min="1" max="6" class="form-control" value="3" id="countOfPassengers">    
                                            <div class="form-control-icon">
                                                <i class="fas fa-users"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group position-relative">
                                        <label for="endLocationDetails">Допълнителни изисквания</label>
                                        <textarea disabled id="endLocationDetails" class="form-control" rows="2"></textarea>             
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <a role="button" class="btn btn-primary mr-1 mb-1" href="/TaxiDriver/Orders/Overview">Приеми</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card collapse-header">
                    <div class="card-header" id="headingThree" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" role="button">
                        <span class="collapsed collapse-title">12:40, 17.03.2022</span>
                    </div>
                    <div id="collapseThree" class="collapse pt-1" aria-labelledby="headingThree" data-parent="#cardAccordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="clientName">Име</label>
                                        <div class="position-relative">
                                            <input disabled type="text" class="form-control" value='Петър' id="clientName">
                                            <div class="form-control-icon">
                                                <i class="fas fa-street-view"></i>
                                            </div>
                                        </div>                  
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="phoneNumber">Телефонен номер</label>
                                        <div class="position-relative">
                                            <input disabled type="tel" class="form-control" value='9876544532' id="phoneNumber">
                                            <div class="form-control-icon">
                                                <i class="fas fa-street-view"></i>
                                            </div>
                                        </div>                  
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="currentLocation">Начална точка</label>
                                        <div class="position-relative">
                                            <input disabled type="text" class="form-control" value='ул. "Батак" 22' id="currentLocation">
                                            <div class="form-control-icon">
                                                <i class="fas fa-street-view"></i>
                                            </div>
                                        </div>                  
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group position-relative">
                                        <label for="currentLocationDetails">Уточнение за начална точка</label>
                                        <textarea disabled id="currentLocationDetails" class="form-control" rows="2"></textarea>              
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="endLocation">Крайна точка</label>
                                        <div class="position-relative">
                                            <input disabled type="text" class="form-control" value='ул. "Сан Стефано" 5' id="endLocation">
                                            <div class="form-control-icon">
                                                <i class="fas fa-map-marked-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group position-relative">
                                        <label for="endLocationDetails">Уточнение за крайна точка</label>
                                        <textarea disabled id="endLocationDetails" class="form-control" rows="2"></textarea>             
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="countOfPassengers">Брой пътуващи</label>
                                        <div class="position-relative">
                                            <input disabled type="number" min="1" max="6" class="form-control" value="3" id="countOfPassengers">    
                                            <div class="form-control-icon">
                                                <i class="fas fa-users"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="additionalRequirements">Допълнителни изисквания</label>
                                        <div class="position-relative">
                                            <input disabled type="text" class="form-control" value='' id="additionalRequirements">
                                            <div class="form-control-icon">
                                                <i class="far fa-handshake"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                            <a role="button" class="btn btn-primary mr-1 mb-1" href="/TaxiDriver/Orders/Overview">Приеми</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
