<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Добави служител</h3>
            <p class="text-subtitle text-muted">Можете да добавите своя нов таксиметров шофьор тук.</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="Manager" asp-controller="Dispatchers" asp-action="All">Диспечери</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Добави служител</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="basicInput">Име</label>
                                        <input type="text" class="form-control" id="basicInput" placeholder="Първо име">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="basicInput">Презиме</label>
                                        <input type="text" class="form-control" id="basicInput" placeholder="Второ име">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="basicInput">Фамилия</label>
                                        <input type="text" class="form-control" id="basicInput" placeholder="Фамилия">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="basicInput">Населено място</label>
                                        <input type="text" class="form-control" id="basicInput" placeholder="Населено място">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="basicInput">Email</label>
                                        <input type="text" class="form-control" id="basicInput" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="basicInput">Телефонен номер</label>
                                        <input type="text" class="form-control" id="basicInput" placeholder="Телефонен номер">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="basicInput">Парола</label>
                                        <input type="password" class="form-control" id="basicInput" placeholder="Парола">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="basicInput">Потвърждаване на парола</label>
                                        <input type="password" class="form-control" id="basicInput" placeholder="Парола">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <a asp-area="Manager" asp-controller="Dispatchers" asp-action="All" class="btn btn-primary mr-1 mb-1">Добави</a>
                                <button type="reset" class="btn btn-light-secondary mr-1 mb-1">Върни по подразбиране</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
