<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Редактирай данни за служител</h3>
            <p class="text-subtitle text-muted">Може да променяте данните на своя диспечер при необходимост безпроблемно точно тук.</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="Manager" asp-controller="Dispatchers" asp-action="Edit">Диспечери</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Редактирай</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="first-name-column">Име</label>
                                        <input type="text" id="first-name-column" class="form-control" readonly="readonly" value="Стефани" name="fname-column">
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="first-name-column">Презиме</label>
                                        <input type="text" id="first-name-column" class="form-control" readonly="readonly" value="Стефчова" name="fname-column">
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="first-name-column">Фамилия</label>
                                        <input type="text" id="first-name-column" class="form-control" readonly="readonly" value="Кочева" name="fname-column">
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="first-name-column">Населено място</label>
                                        <input type="text" id="first-name-column" class="form-control" readonly="readonly" value="Пазарджик" name="fname-column">
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="first-name-column">Email</label>
                                        <input type="text" id="first-name-column" class="form-control" readonly="readonly" value="stefikocheva2055@gmail.com" name="fname-column">
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="first-name-column">Телефонен номер</label>
                                        <input type="text" id="first-name-column" class="form-control" readonly="readonly" value="088 7765 2343" name="fname-column">
                                    </div>
                                </div><br /><br /><br /><br />
                                <div class="col-12 d-flex justify-content-end">
                                    <button class="btn btn-primary mr-1 mb-1">Редактирай</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
