@using TaxiBook.Areas.Manager.ViewModels.Employees
@model EmployeeListingViewModel

<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-12 order-md-1 order-last">
            <h3>Вашите служители</h3>
            <p class="text-subtitle text-muted">Тук можете да управлявате данните на диспечерите и таксимтеровите шофьори.</p>
        </div>
    </div>
</div>
<section class="section">
    <div class="card">
        <div class="card-body">
            <div  class="table-editable">
                <table class='table table-hover' id="table1">
                    <thead>
                        <tr>
                            <th class="text-center">Пълно име</th>
                            <th class="text-center">Роля</th>
                            <th class="text-center">Функции</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @foreach (var employee in this.Model.Employees)
                        {
                            var employeeRole = @employee.EmployeeRole.ToString();
                            
                            if (employeeRole != "None")
                            {
                                <tr>
                                    <td>@employee.FullName</td>
                                    @if (employeeRole == "TaxiDriver")
                                    {
                                        <td>Таксиметров шофьор</td>
                                    }
                                    else
                                    {
                                        <td>Диспечер</td>
                                    }
                                    <td>
                                        <a asp-area="Manager" asp-controller="Employees" asp-action="Overview" role="button" class="table-element"><i class="fas fa-user-alt"></i></a>
                                        <a asp-area="Manager" asp-controller="Employees" asp-action="Edit" role="button" class="table-element"><i class="fas fa-pen"></i></a>
                                        <span class="table-element" role="button" value="Delete Row" onclick="DeleteRowFunction(this)"> <i class="far fa-trash-alt"></i></span>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <a asp-area="Manager" asp-controller="Employees" asp-action="Create" class="btn btn-primary btn-block">Добави</a>
            </div>
        </div>
    </div>
</section>

