 @using TaxiBook.Areas.Manager.ViewModels.Employees
 @model CreateViewModel

<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Добави нов служител</h3>
            <p class="text-subtitle text-muted">Можете да добавите своя служител тук.</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="Manager" asp-controller="Employees" asp-action="All">Всички служители</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Добави</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form method="post" asp-area="Manager" asp-controller="Employees" asp-action="Create">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="FirstName" for="firstName">Първо име</label>
                                        <input type="text" class="form-control" asp-for="FirstName" id="firstName" placeholder="Първо име">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="LastName" for="lastName">Фамилия</label>
                                        <input type="text" class="form-control" asp-for="LastName" id="lastName" placeholder="Фамилия">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Email" for="email">Email</label>
                                        <input type="text" class="form-control" asp-for="Email" id="email" placeholder="Email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="PhoneNumber" for="phoneNumber">Телефонен номер</label>
                                        <input type="number" class="form-control" asp-for="PhoneNumber" id="phoneNumber" placeholder="Телефонен номер">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <fieldset class="form-group">
                                        <label asp-for="EmployeeType" for="employeeType">Роля</label>
                                        <select asp-for="EmployeeType" class="form-select" id="employeeType">
                                            <option value="" selected disabled hidden>Изберете...</option>
                                            <option value="1">Диспечер</option>
                                            <option value="2">Таксиметров шофьор</option>
                                        </select>
                                    </fieldset>
                                </div><br /><br /><br /><br />
                                <h4 class="card-title">За автомобила</h4>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Brand" for="brand">Марка</label>
                                        <input type="text" class="form-control" asp-for="Brand" id="brand" placeholder="Регистрационен номер">
                                        <span asp-validation-for="Brand" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Model" for="model">Модел</label>
                                        <input type="text" class="form-control" asp-for="Model" id="model" placeholder="Регистрационен номер">
                                        <span asp-validation-for="Model" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="NumberPlate" for="numberPlate">Регистрационен номер</label>
                                        <input type="text" class="form-control" asp-for="NumberPlate" id="numberPlate" placeholder="Регистрационен номер">
                                        <span asp-validation-for="NumberPlate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary mr-1 mb-1">Добави</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

