<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Стефани Кочева</h3>
            <p class="text-subtitle text-muted">Тук може да управлявате данните за избран служител.</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="Manager" asp-controller="Employees" asp-action="All">Всички служители</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Стефани Кочева</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<section>
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-vertical" method="post" asp-area="Manager" asp-controller="Employees" asp-action="Update">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-center">
                                        <div class="avatar avatar-xl me-3">
                                            <img src="~/images/avatar/profile-picture.png" alt="" srcset="">
                                        </div><br /><br /><br /><br />
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="firstName">Първо име</label>
                                            <input type="text" class="form-control" id="firstName" placeholder="Първо име" disabled name="" value="Стефани">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="lastName">Фамилия</label>
                                            <input type="text" class="form-control" id="lastName" placeholder="Фамилия" disabled name="" value="Кочева">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="text" class="form-control" id="email" placeholder="email" disabled name="" value="stefanitaxidriver@example.com">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="phoneNumber">Телефонен номер</label>
                                            <input type="number" class="form-control" id="phoneNumber" placeholder="Телефонен номер" disabled name="" value="1235436753">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-end">
                                        <button id="hiddenButton" type="submit" class="btn btn-outline-primary mr-1 mb-1" style="visibility: hidden">Запази</button>
                                        <button id="edit" onclick="enable('firstName', 'lastName', 'email', 'phoneNumber', 'hiddenButton', 'edit')" type="button" class="btn btn-primary mr-1 mb-1">Редактирай</button>
                                        <script>
                                            function enable(firstName, lastName, email, phoneNumber, hiddenButton, edit) {
                                                document.getElementById(firstName).disabled = false;
                                                document.getElementById(lastName).disabled = false;
                                                document.getElementById(email).disabled = false;
                                                document.getElementById(phoneNumber).disabled = false;
                                                document.getElementById(edit).disabled = true;

                                                document.getElementById(hiddenButton).style.visibility = "visible";
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </form>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <h5 class="card-title">Такси</h5><br />
                        <form class="form form-vertical">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="brand">Марка</label>
                                            <input type="text" class="form-control" id="brand" placeholder="Марка" disabled name="" value="Дачия">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="model">Модел</label>
                                            <input type="text" class="form-control" id="model" placeholder="Модел" disabled name="" value="Логан">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="numberPlate">Регистрационен номер</label>
                                            <input type="text" class="form-control" id="numberPlate" placeholder="Регистрационен номер" disabled name="" value="EXAMPLE">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-end">
                                        <button id="hiddenButtonAboutTaxi" type="submit" class="btn btn-outline-primary mr-1 mb-1" style="visibility: hidden">Запази</button>
                                        <button id="editAboutTaxi" onclick="enableAboutTaxi('brand', 'model', 'numberPlate', 'hiddenButtonAboutTaxi', 'editAboutTaxi')" type="button" class="btn btn-primary mr-1 mb-1">Редактирай</button>
                                        <script>
                                            function enableAboutTaxi(brand, model, numberPlate, hiddenButtonAboutTaxi, editAboutTaxi) {
                                                document.getElementById(brand).disabled = false;
                                                document.getElementById(model).disabled = false;
                                                document.getElementById(numberPlate).disabled = false;
                                                document.getElementById(editAboutTaxi).disabled = true;

                                                document.getElementById(hiddenButtonAboutTaxi).style.visibility = "visible";
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </form>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
