@model TaxiBook.Areas.Manager.ViewModels.TaxiDrivers.AddViewModel

<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Добави служител</h3>
            <p class="text-subtitle text-muted">Можете да добавите своя нов таксиметров шофьор тук.</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="Manager" asp-controller="TaxiDrivers" asp-action="All">Таксиметрови шофьори</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Добави служител</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="firstName">Име</label>
                                        <input type="text" class="form-control" asp-for="FirstName" id="firstName" placeholder="Първо име">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lastName">Фамилия</label>
                                        <input type="text" class="form-control" asp-for="LastName" id="lastName" placeholder="Фамилия">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" class="form-control" asp-for="Email" id="email" placeholder="Email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="phoneNumber">Телефонен номер</label>
                                        <input type="text" class="form-control" asp-for="PhoneNumber" id="phoneNumber" placeholder="Телефонен номер">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="password">Парола</label>
                                        <input type="password" class="form-control" asp-for="Password" id="password" placeholder="Парола">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="passwordConfirmation">Потвърждаване на парола</label>
                                        <input type="password" class="form-control" asp-for="PasswordConfirmation" id="passwordConfirmation" placeholder="Парола">
                                        <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                                    </div>
                                </div><br /><br /><br /><br />
                                <h4 class="card-title">За автомобила</h4>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="brandAndModel">Марка и модел</label>
                                        <input type="text" class="form-control" asp-for="BrandAndModel" id="brandAndModel" placeholder="Марка">
                                        <span asp-validation-for="BrandAndModel" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="passwordConfirmation">Регистрационен номер</label>
                                        <input type="text" class="form-control" asp-for="PasswordConfirmation" id="passwordConfirmation" placeholder="Регистрационен номер">
                                        <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <a asp-area="Manager" asp-controller="TaxiDrivers" asp-action="All" class="btn btn-primary mr-1 mb-1">Добави</a>
                                <button type="reset" class="btn btn-light-secondary mr-1 mb-1">Върни по подразбиране</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
