<div class="page-title">
    <div class="row">
        <div class="col-12">
            <h3>Вашите таксиметрови шофьори</h3>
            <p class="text-subtitle text-muted">Тук можете да управлявате данните на служителите си.</p>
        </div>
    </div>
</div>
<section class="section">
    <div class="card">
        <div class="card-body">
            <div id="table" class="table-editable">
                <script>
                    function DeleteRowFunction(cell) {
                        var tableRow = cell.parentNode.parentNode;
                        tableRow.parentNode.removeChild(tableRow);
                    };
                </script>  
                <table class='table table-hover'>
                    <thead>
                        <tr align="center">
                            <th>Пълно име</th>
                            <th>Дневен отчет</th>
                            <th>Функции</th>
                        </tr>
                    </thead>
                    <tbody align="center">
                        <tr>
                            <td>Стефани Кочева</td>
                            <td><a class="table-element"><i class="far fa-file-alt"></i></a></td>
                            <td><a asp-area="Manager" asp-controller="TaxiDrivers" asp-action="Edit" role="button"><i class="fas fa-edit"></i></a><span class="table-element" role="button" value="Delete Row" onclick="DeleteRowFunction(this)"> <i class="far fa-trash-alt"></i></span></td>
                        </tr>
                        <tr>
                            <td>Стефани Кочева</td>
                            <td><a class="table-element"><i class="far fa-file-alt"></i></a></td>
                            <td><a asp-area="Manager" asp-controller="TaxiDrivers" asp-action="Edit" role="button"><i class="fas fa-edit"></i></a><span class="table-element" role="button" value="Delete Row" onclick="DeleteRowFunction(this)"> <i class="far fa-trash-alt"></i></span></td>
                        </tr>
                        <tr>
                            <td>Стефани Кочева</td>
                            <td><a class="table-element"><i class="far fa-file-alt"></i></a></td>
                            <td><a asp-area="Manager" asp-controller="TaxiDrivers" asp-action="Edit" role="button"><i class="fas fa-edit"></i></a><span class="table-element" role="button" value="Delete Row" onclick="DeleteRowFunction(this)"> <i class="far fa-trash-alt"></i></span></td>
                        </tr>
                        <tr>
                            <td>Стефани Кочева</td>
                            <td><a class="table-element"><i class="far fa-file-alt"></i></a></td>
                            <td><a asp-area="Manager" asp-controller="TaxiDrivers" asp-action="Edit" role="button"><i class="fas fa-edit"></i></a><span class="table-element" role="button" value="Delete Row" onclick="DeleteRowFunction(this)"> <i class="far fa-trash-alt"></i></span></td>
                        </tr>
                    </tbody>
                </table>
                <a asp-area="Manager" asp-controller="TaxiDrivers" asp-action="Add" role="button" class="btn btn-primary btn-block">Добави служител</a>
            </div>
        </div>
    </div>
</section>
