@{
    this.Layout = "_AllCompaniesLayout";
}

<section id="book" class="details">
    <div class="row content">
        <div class="row justify-content-center">
            <div class="col-md-8 pt-4" data-aos="fade-up"><br /><br />
                <h3 class="text-center">Изборът е изцяло Ваш</h3>
                <p class="text-center">Тук са всички регистрирани компании, с предоставен актуален телефон за връзка и страхотната опция за направа на онлайн поръчка.</p><br/>
                <table class='table table-striped' id="table1">
                    <thead>
                        <tr>
                          <th style="background-color:#17B57D; color:white;" class="text-center">Компания</th>
                          <th style="background-color:#17B57D; color:white;" class="text-center">Цена за километър</th>
                          <th style="background-color:#17B57D; color:white;" class="text-center">Област</th>
                          <th style="background-color:#17B57D; color:white;" class="text-center">Обади се точно сега</th>
                          <th style="background-color:#17B57D; color:white;" class="text-center">Поръчай онлайн</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td>Велина</td>
                            <td>0.70 лв.</td>
                            <td>Пазарджик</td>
                            <td><a href="tel:089 706 5699">089 706 5688</a></td>
                            <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                        </tr>
                        <tr class="text-center">
                            <td>Рефлекс Плюс</td>
                            <td>0.75 лв.</td>
                            <td>Варна</td>
                            <td><a href="tel:089 706 5699">089 706 5688</a></td>
                            <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                        </tr>
                        <tr class="text-center">
                            <td >Панда Такси</td>
                            <td>0.65 лв.</td>
                            <td>Пловдив</td>
                            <td><a href="tel:089 706 5699">089 706 5688</a></td>
                            <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                        </tr>
                        <tr class="text-center">
                            <td>Ивелина</td>
                            <td>0.90 лв.</td>
                            <td>София</td>
                            <td><a href="tel:089 706 5699">089 706 5688</a></td>
                            <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                        </tr>
                        <tr class="text-center">
                            <td>Евролийз Такси</td>
                            <td>0.70 лв.</td>
                            <td>Пазарджик</td>
                            <td><a href="tel:089 706 5699">089 706 5688</a></td>
                            <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                        </tr>
                        <tr class="text-center">
                            <td>Евролийз Такси</td>
                            <td>0.70 лв.</td>
                            <td>Пазарджик</td>
                            <td><a href="tel:089 706 5699">089 706 5688</a></td>
                            <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                        </tr>
                        <tr class="text-center">
                            <td>Евролийз Такси</td>
                            <td>0.70 лв.</td>
                            <td>Пазарджик</td>
                            <td><a href="tel:089 706 5699">089 706 5688</a></td>
                            <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
