@{
    this.Layout = "_LoggedLayout";
}

<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-12 order-md-1 order-last">
            <h3>Избери и поръчай своя превоз</h3>
            <p class="text-subtitle text-muted">Може да се възползваш от предоставените данни и сам да избереш перфектния според своите предпочитания транспорт или пък всичко това оставиш на нас, като ни запознаеш със своите желания, а наша стане работата да ги реализираме.</p>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
<section class="section">
    <div class="card">
        <div class="card-body">
            <table class='table table-striped' id="table1">
                <thead>
                    <tr>
                        <th class="text-center">Компания</th>
                        <th class="text-center">Цена за километър</th>
                        <th class="text-center">Обади се сега</th>
                        <th class="text-center">Поръчай онлайн</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a data-toggle="tooltip" data-placement="bottom" title="Клиентът винаги е с предимство. Спокойно и приятно путъване на добра цена с нас!">О'Кей Супертранс</a></td>
                        <td>0.70 лева</td>
                        <td><a href="tel:089 706 5688">089 706 5688</a></td>
                        <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                    </tr>
                    <tr>
                        <td><a data-toggle="tooltip" data-placement="bottom" title="Клиентът винаги е с предимство. Спокойно и приятно путъване на добра цена с нас!">Омега Транс Такси</a></td>
                        <td>0.70 лева</td>
                        <td><a href="tel:089 706 5688">089 706 5688</a></td>
                        <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                    </tr>
                    <tr>
                        <td><a data-toggle="tooltip" data-placement="bottom" title="Клиентът винаги е с предимство. Спокойно и приятно путъване на добра цена с нас!">Радио СВ такси</a></td>
                        <td>0.70 лева</td>
                        <td><a href="tel:089 706 5688">089 706 5688</a></td>
                        <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                    </tr>
                    <tr>
                        <td><a data-toggle="tooltip" data-placement="bottom" title="Клиентът винаги е с предимство. Спокойно и приятно путъване на добра цена с нас!">Такси С Експрес</a></td>
                        <td>0.70 лева</td>
                        <td><a href="tel:089 706 5688">089 706 5688</a></td>
                        <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                    </tr>
                    <tr>
                        <td><a data-toggle="tooltip" data-placement="bottom" title="Клиентът винаги е с предимство. Спокойно и приятно путъване на добра цена с нас!">Таксита Ден Нощ</a></td>
                        <td>0.70 лева</td>
                        <td><a href="tel:089 706 5688">089 706 5688</a></td>
                        <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                    </tr>
                    <tr>
                        <td><a data-toggle="tooltip" data-placement="bottom" title="Клиентът винаги е с предимство. Спокойно и приятно путъване на добра цена с нас!">М Такси</a></td>
                        <td>0.70 лева</td>
                        <td><a href="tel:089 706 5688">089 706 5688</a></td>
                        <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                    </tr>
                    <tr>
                        <td><a data-toggle="tooltip" data-placement="bottom" title="Клиентът винаги е с предимство. Спокойно и приятно путъване на добра цена с нас!">Велина</a></td>
                        <td>0.70 лева</td>
                        <td><a href="tel:089 706 5688">089 706 5688</a></td>
                        <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                    </tr>
                    <tr>
                        <td><a data-toggle="tooltip" data-placement="bottom" title="Клиентът винаги е с предимство. Спокойно и приятно путъване на добра цена с нас!">Таксита Ден Нощ</a></td>
                        <td>0.70 лева</td>
                        <td><a href="tel:089 706 5688">089 706 5688</a></td>
                        <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                    </tr>
                    <tr>
                        <td><a data-toggle="tooltip" data-placement="bottom" title="Клиентът винаги е с предимство. Спокойно и приятно путъване на добра цена с нас!">Green Taxi</a></td>
                        <td>0.70 лева</td>
                        <td><a href="tel:089 706 5688">089 706 5688</a></td>
                        <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                    </tr>
                    <tr>
                        <td><a data-toggle="tooltip" data-placement="bottom" title="Клиентът винаги е с предимство. Спокойно и приятно путъване на добра цена с нас!">Yellow Taxi</a></td>
                        <td>0.70 лева</td>
                        <td><a href="tel:089 706 5688">089 706 5688</a></td>
                        <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                    </tr>
                    <tr>
                        <td><a data-toggle="tooltip" data-placement="bottom" title="Клиентът винаги е с предимство. Спокойно и приятно путъване на добра цена с нас!">Триумф Тaкси</a></td>
                        <td>0.70 лева</td>
                        <td><a href="tel:089 706 5688">089 706 5688</a></td>
                        <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                    </tr>
                    <tr>
                        <td><a data-toggle="tooltip" data-placement="bottom" title="Клиентът винаги е с предимство. Спокойно и приятно путъване на добра цена с нас!">Кепитъл Тaкси</a></td>
                        <td>0.70 лева</td>
                        <td><a href="tel:089 706 5688">089 706 5688</a></td>
                        <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                    </tr>
                    <tr>
                        <td><a data-toggle="tooltip" data-placement="bottom" title="Клиентът винаги е с предимство. Спокойно и приятно путъване на добра цена с нас!">Евролийз Такси</a></td>
                        <td>0.70 лева</td>
                        <td><a href="tel:089 706 5688">089 706 5688</a></td>
                        <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
