<section id="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                <div data-aos="zoom-out">
                    <h1>Бързо и лесно с <span>TaxiBook</span></h1>
                    <h2>Запази, управлявай или работи</h2>
                    <div class="text-center text-lg-start">
                        <a asp-area="Identity" asp-controller="Account" asp-action="Login" class="btn-get-started scrollto">Започни сега</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
                <img src="~/images/landing-page-images/booking.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)"></use>
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)"></use>
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff"></use>
        </g>
    </svg>
</section>
<section id="book" class="details">
    <div class="row content">
        <div class="row justify-content-center">
            <div class="col-md-8 pt-4" data-aos="fade-up">
                <h3 class="text-center">Направете своя избор и проъчайте с няколко клика, останалото оставете на нас</h3>
                <p class="text-center">Освен предоставен актуален телефон за връзка директно с диспечера на конкретната компания, ние Ви предоставяне и възможност за онлайн направа на поръчка.</p><br/>
                <table class='table table-striped' id="table1">
                    <thead>
                        <tr>
                          <th style="background-color:#17B57D; color:white;" class="text-center">Компания</th>
                          <th style="background-color:#17B57D; color:white;" class="text-center">Цена за километър</th>
                          <th style="background-color:#17B57D; color:white;" class="text-center">Област</th>
                          <th style="background-color:#17B57D; color:white;" class="text-center">Обади се точно сега</th>
                          <th style="background-color:#17B57D; color:white;" class="text-center">Поръчай онлайн</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td>Велина</td>
                            <td>0.70 лв.</td>
                            <td>Пазарджик</td>
                            <td><a href="tel:089 706 5699">089 706 5688</a></td>
                            <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                        </tr>
                        <tr class="text-center">
                            <td>Рефлекс Плюс</td>
                            <td>0.75 лв.</td>
                            <td>Варна</td>
                            <td><a href="tel:089 706 5699">089 706 5688</a></td>
                            <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                        </tr>
                        <tr class="text-center">
                            <td >Панда Такси</td>
                            <td>0.65 лв.</td>
                            <td>Пловдив</td>
                            <td><a href="tel:089 706 5699">089 706 5688</a></td>
                            <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                        </tr>
                        <tr class="text-center">
                            <td>Ивелина</td>
                            <td>0.90 лв.</td>
                            <td>София</td>
                            <td><a href="tel:089 706 5699">089 706 5688</a></td>
                            <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                        </tr>
                        <tr class="text-center">
                            <td>Евролийз Такси</td>
                            <td>0.70 лв.</td>
                            <td>Пазарджик</td>
                            <td><a href="tel:089 706 5699">089 706 5688</a></td>
                            <td><a asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a></td>
                        </tr>
                    </tbody>
                </table>
                 <a asp-controller="Home" asp-action="AllCompanies" type="button" id="myButton" style="width:100%; background-color:#17B57D;" class="btn btn-success btn-lg btn-block">Виж всички</a>
            </div>
        </div>
    </div>
</section>
<section id="about" class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
                <h3>Цели</h3>
                <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla tenetur. Suscipit aut voluptate.</p>
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-bar-chart"></i></div>
                    <h4 class="title"><a href="">Tracking and easier managing</a></h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                </div>
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-headset"></i></div>
                    <h4 class="title"><a href="">Higher level service</a></h4>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                </div>
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon"><i class="bi bi-emoji-smile"></i></div>
                    <h4 class="title"><a href="">Happy clients</a></h4>
                    <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
                <!-- Uncomment below if you decide to link a video -->
                <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a> -->
            </div>
        </div>
    </div>
</section>
