@using TaxiBook.Services.ViewModels.Companies
@model CreateCompanyViewModel
@{
    this.Layout = "_AuthenticationLayout";
}

<div id="auth">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 mx-auto">
                <div class="card pt-4">
                    <div class="card-body"><br />
                        <div class="text-center mb-5">
                            <img src="~/images/logo-second-type.png" height="48" class='mb-4'>
                            <h3>Добавяне на компания</h3>
                            <p>Моля попълнете формата, за да продължите напред.</p>
                        </div>
                        <form method="post" asp-area="default" asp-controller="Companies" asp-action="Create" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="companyName">Име</label>
                                        <input asp-for="Name" type="text" class="form-control" id="companyName" placeholder="Име на компанията">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="phoneNumber">Телефонен номер</label>
                                        <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Телефонен номер" id="phoneNumber">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group position-relative">
                                        <label for="description">Описание</label>
                                        <textarea asp-for="Description" class="form-control" rows="2" placeholder="Кратко описание на компанията ви" id="description"></textarea>             
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>Лиценз</label>
                                        <div class="form-file">
                                            <input type="file" class="form-file-input" id="profilePicture">
                                            <label class="form-file-label" for="profilePicture">
                                                <span class="form-file-text">Изберете файл...</span>
                                                <span class="form-file-button btn-primary "><i data-feather="upload"></i></span>
                                            </label>
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="province">Област</label>
                                        <input asp-for="Province" type="text" class="form-control" placeholder="Област" id="province">
                                        <span asp-validation-for="Province" class="text-danger"></span>
                                    </div>
                                </div>
                                <h4 class="card-title">Дневна тарифа (лв.)</h4>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="oneКilometerМileageDailyPrice">Цена за километър пробег</label>
                                        <input asp-for="OneКilometerМileageDailyPrice" type="number" step="any" class="form-control" placeholder="0.00" id="oneКilometerМileageDailyPrice">
                                        <span asp-validation-for="OneКilometerМileageDailyPrice" class="text-danger"></span>
                                    </div>
                                </div> 
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="dailyPricePerCall">Цена за повикване</label>
                                        <input asp-for="DailyPricePerCall" type="number"step="any" class="form-control" placeholder="0.00" id="dailyPricePerCall">
                                        <span asp-validation-for="DailyPricePerCall" class="text-danger"></span>
                                    </div>
                                </div> 
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="initialDailyFee">Първоначална такса</label>
                                        <input asp-for="InitialDailyFee" type="number" step="any" class="form-control" placeholder="0.00" id="initialDailyFee">
                                        <span asp-validation-for="InitialDailyFee" class="text-danger"></span>
                                    </div>
                                </div> 
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="dailyPricePerMinuteStay">Цена за минута престой</label>
                                        <input asp-for="DailyPricePerMinuteStay" type="number" step="any" class="form-control" placeholder="0.00" id="dailyPricePerMinuteStay">
                                         <span asp-validation-for="DailyPricePerMinuteStay" class="text-danger"></span>
                                    </div>
                                </div> 
                                <h4 class="card-title">Нощна тарифа (лв.)</h4>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="oneКilometerМileageNightPrice">Цена за километър пробег</label>
                                        <input asp-for="OneКilometerМileageNightPrice" type="number" step="any" class="form-control" placeholder="0.00" id="oneКilometerМileageNightPrice">
                                        <span asp-validation-for="OneКilometerМileageNightPrice" class="text-danger"></span>
                                    </div>
                                </div> 
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="nightPricePerCall">Цена за повикване</label>
                                        <input asp-for="NightPricePerCall" type="number" step="any" class="form-control" placeholder="0.00" id="nightPricePerCall">
                                        <span asp-validation-for="NightPricePerCall" class="text-danger"></span>
                                    </div>
                                </div> 
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="initialNightFee">Първоначална такса</label>
                                        <input asp-for="InitialNightFee" type="number" step="any" class="form-control" placeholder="0.00" id="initialNightFee">
                                        <span asp-validation-for="InitialNightFee" class="text-danger"></span>
                                    </div>
                                </div> 
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="nightPricePerMinuteStay">Цена за минута престой</label>
                                        <input asp-for="NightPricePerMinuteStay" type="number" step="any" class="form-control" placeholder="0.00" id="nightPricePerMinuteStay">
                                        <span asp-validation-for="NightPricePerMinuteStay" class="text-danger"></span>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-sm-12 d-flex justify-content-end">
                                <a href="javascript:window.history.back()" class="btn btn-outline-primary mr-1 mb-1">Назад</a>
                                <button type="submit" class="btn btn-primary mr-1 mb-1">Добави</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onbeforeunload = function() {
        return "Are you sure you want to close the window?";
    };
</script>
