@using TaxiBook.Services.ViewModels.Companies
@model CompanyDetailsViewModel
@{
    this.Layout = "_LoggedLayout";
}

<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>@Model.Name</h3>
            <p class="text-subtitle text-muted">@Model.Description</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                <ol class="breadcrumb">
                    @if (!this.User.Identity.IsAuthenticated)
                    {
                        <li class="breadcrumb-item"><a asp-area="Default" asp-controller="Companies" asp-action="All">Всички компании</a></li>
                    }
                    else
                    {
                        <li class="breadcrumb-item"><a asp-area="Default" asp-controller="Home" asp-action="Dashboard">Начало</a></li>
                    }
                    <li class="breadcrumb-item active" aria-current="page">Повече за компанията</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">&nbsp;</th>
      <th scope="col" class="text-center">Дневна тарифа (лв.)</th>
      <th scope="col" class="text-center">Нощна тарифа (лв.)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Цена за километър пробег</th>
      <td class="text-center">0.85</td>
      <td class="text-center">0.96</td>
    </tr>
    <tr>
      <th scope="row">Цена за повикване</th>
      <td>0.00</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th scope="row">Първоначална такса</th>
      <td class="text-center">1.30</td>
      <td class="text-center">1.50</td>
    </tr>
    <tr>
      <th scope="row">Цена за минута престой</th>
      <td class="text-center">0.30</td>
      <td class="text-center">0.42</td>
    </tr>
  </tbody>
</table>
<div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2956.173642003534!2d24.332994640815865!3d42.189354637596956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbg!4v1647159005753!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div><br />
<section class="section">
    <div class="col-12 d-flex justify-content-end">
        <a data-toggle="modal" style="width:20%" data-target="#exampleModalCenter" class="btn btn-outline-primary mr-1 mb-1">Пресметни пътуване</a>
        <a asp-area="Default" asp-controller="Orders" asp-action="Create" style="width:20%"  class="btn btn-primary mr-1 mb-1">Напред към поръчка</a>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Пресметни пътуване</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Моля попълнете.</p>      
                    <form method="post">
                        <div class="col-12">
                            <div class="form-group has-icon-left">
                                <label for="endLocationend">Крайна дестинация</label>
                                <div class="position-relative">
                                    <input type="text" class="form-control" placeholder="Крайна дестинация">
                                    <div class="form-control-icon">
                                        <i class="fas fa-map-marked-alt"></i>
                                    </div>
                                </div>
                            </div>
                        </div><br />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Затвори</span>
                    </button>
                    <button type="submit" class="btn btn-primary ml-1" data-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Пресметни</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
