@{
    this.Layout = "_LoggedLayout";
}

<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-12 order-md-1 order-last">
            <h3>Завършени поръчки</h3>
            <p class="text-subtitle text-muted">Тук може да отркиете всички отминали поръчки. Можете да ги редактирате с цел отново поръчване.</p>
        </div>
    </div>
</div>
<div class="card collapse-icon accordion-icon-rotate">
    <div class="card-content">
        <div class="card-body">
            <div class="accordion" id="cardAccordion">
                <div class="card collapse-header">
                    <div class="card-header" id="headingTwo" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" role="button">
                        <span class="collapsed collapse-title">12:20 - 12:40, 19.02.2022</span>
                    </div>
                    <div id="collapseTwo" class="collapse pt-1" aria-labelledby="headingTwo" data-parent="#cardAccordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label>Къде се намирате в момента?</label>
                                        <div class="position-relative">
                                            <input type="text" class="form-control" value='ул. "Есперанто" 9' readonly="readonly">
                                            <div class="form-control-icon">
                                                <i class="fas fa-street-view"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label>До къде искате да пътувате?</label>
                                        <div class="position-relative">
                                            <input type="text" class="form-control" value='ул. "Сан Стефано" 1' readonly="readonly">
                                            <div class="form-control-icon">
                                                <i class="fas fa-map-marked-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label>Уточнение</label>
                                        <div class="position-relative">
                                            <input type="text" class="form-control" value='' readonly="readonly">
                                            <div class="form-control-icon">
                                                <i class="fas fa-pen"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label>Уточнение</label>
                                        <div class="position-relative">
                                            <input type="text" class="form-control" value="Пред входа на гимназията." readonly="readonly">
                                            <div class="form-control-icon">
                                                <i class="fas fa-pen"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label>Брой пътуващи</label>
                                        <div class="position-relative">
                                            <input type="number" class="form-control" value="3" readonly="readonly">
                                            <div class="form-control-icon">
                                                <i class="fas fa-users"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label>Допълнителни изисквания</label>
                                        <div class="position-relative">
                                            <input type="text" class="form-control" value="" readonly="readonly">
                                            <div class="form-control-icon">
                                                <i class="far fa-handshake"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <a asp-area="Default" asp-controller="Orders" asp-action="Create" class="btn btn-primary mr-1 mb-1">Редактирай и поръчай отново</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
