@using TaxiBook.Services.ViewModels.Companies
@model CompanyListingViewModel
@{
    this.Layout = "_LoggedLayout";
}

<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Иванина Такси</h3>
            <p class="text-subtitle text-muted">Иновативна компания с основна цел - щастливи клинети! Предлагаме ви комфортен превоз, който навреме ще ви отведе до всяка желана локация.</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="default" asp-controller="Home" asp-action="Dashboard">Начало</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Повече за</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="mapouter"><div class="gmap_canvas"><iframe width="1400" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=Pazardzik&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/"></a><br><style>.mapouter{position:relative;text-align:right;height:350px;width:1120px;}</style><a href="https://www.embedgooglemap.net">custom google map for website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:350px;width:1120px;}</style></div></div><br />
<section class="section">
    <div class="col-12 d-flex justify-content-center">
        <a data-toggle="modal" style="width:20%" data-target="#exampleModalCenter" class="btn btn-primary mr-1 mb-1">Пресметни пътуване</a>
        <a asp-controller="Order" asp-action="Create" style="width:20%"  class="btn btn-primary mr-1 mb-1">Напред към поръчка</a>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Пресметни пътуване</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Моля попълнете празното поле.</p>      
                    <form method="post" asp-area="default" asp-controller="Order" asp-action="Details">
                        <div class="col-12">
                            <div class="form-group has-icon-left">
                                <label for="endLocationend">Крайна дестинация</label>
                                <div class="position-relative">
                                    <input type="text" class="form-control" placeholder="Крайна дестинация">
                                    <div class="form-control-icon">
                                        <i class="fas fa-map-marked-alt"></i>
                                    </div>
                                </div>
                            </div>
                        </div><br />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Затвори</span>
                    </button>
                    <button type="submit" class="btn btn-primary ml-1" data-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Пресметни</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
