@using TaxiBook.Services.ViewModels.Feedbacks
@model FeedbackListingViewModel

<div class="page-title">
    <div class="row">
        <div class="col-12">
            <h3>Обратна връзка</h3>
            <p class="text-subtitle text-muted">Тук може да следите мнението и оценката на клиентите си.</p>
        </div>
    </div>
</div>
<section class="section">
    <div class="card">
        <div class="card-header">
            <h3 class='card-heading p-1 pl-3'>Статистика, базирана на оценките на клиентите</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="pl-3">
                        <h1 class='mt-5'>94,2%</h1>
                        <p class='text-xs'><span class="text-green"><i data-feather="bar-chart" width="15"></i> +19%</span> повече от предходния месец</p>
                        <div class="legends">
                            <div class="legend d-flex flex-row align-items-center">
                                <div class='w-3 h-3 rounded-full bg-info me-2'></div><span class='text-xs'>Миналият месец</span>
                            </div>
                            <div class="legend d-flex flex-row align-items-center">
                                <div class='w-3 h-3 rounded-full bg-blue me-2'></div><span class='text-xs'>Текущ месец</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-12">
                    <canvas id="bar"></canvas>
                </div>
            </div>
        </div>
    </div>  
    <div class="card">
        <div class="card-body">
            <div>
                <table class='table table-hover' id="table1">
                    <thead>
                        <tr>
                            <th class="text-center">Клиент</th>
                            <th class="text-center">Мнение</th>
                            <th class="text-center">Оценка</th>
                            <th class="text-center">Премахни</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @*@foreach (var feedback in Model.Feedbacks)
                        {*@
                             @*<tr>
                                <td>@feedback.ClientName</td>
                                <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#feedback">Прочети</button></td>
                                <td><span class="table-element"><i data-feather="thumbs-up"></i></span></td>
                                <td><span class="table-element" role="button" value="Delete Row" onclick="DeleteRowFunction(this)"><i class="far fa-trash-alt"></i></span></td>
                            </tr>
                            <div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="feedbackTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="feedbackTitle">Мнение</h5>
                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                @feedback.Opinion
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary ml-1" data-bs-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Затвори</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }*@
                        <tr>
                                <td>Стефани Кочева</td>
                                <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#feedback">Прочети</button></td>
                                <td><span class="table-element"><i data-feather="thumbs-up"></i></span></td>
                                <td><span class="table-element" role="button" value="Delete Row" onclick="DeleteRowFunction(this)"><i class="far fa-trash-alt"></i></span></td>
                            </tr>
                            <tr>
                                <td>Тест Тестов</td>
                                <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#feedback">Прочети</button></td>
                                <td><span class="table-element"><i data-feather="thumbs-down"></i></span></td>
                                <td><span class="table-element" role="button" value="Delete Row" onclick="DeleteRowFunction(this)"><i class="far fa-trash-alt"></i></span></td>
                            </tr>
                            <div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="feedbackTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="feedbackTitle">Мнение</h5>
                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Професионализъм и високо качество на услугите! Стриктно спазване на хигиенни изисквания! 
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary ml-1" data-bs-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Затвори</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
