<div class="page-title">
    <h3>Месечен график</h3>
    <p class="text-subtitle text-muted">Освен, че имате на разположение своя месечен график със съответните за всеки ден работни смени, то при необходимост можете и да уведомите работодателя си за предстоящото отсъствие.</p>
</div>
<div class="card collapse-icon accordion-icon-rotate"><br />
    <div class="card-content">
        <div class="card-header">
            <h4 class="card-title, text-center" style="color:#0275d8; font-style:italic;">Декември</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Понеделник</th>
                        <th class="text-center">Вторник</th>
                        <th class="text-center">Сряда</th>
                        <th class="text-center">Четвътък</th>
                        <th class="text-center">Петък</th>
                        <th class="text-center">Събота</th>
                        <th class="text-center" style="color:#0275d8;"><i>Неделя</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center">Нощна смяна</td>
                        <td class="text-center">Почивен Дневен</td>
                        <td class="text-center"> Почивен ден</td>
                        <td class="text-center">Нощна смяна</td>
                        <td class="text-center">Почивен ден</td>
                    </tr>
                    <tr>
                        <td class="text-center">Дневна смяна</td>
                        <td class="text-center">Нощна смяна</td>
                        <td class="text-center">Нощна смяна</td>
                        <td class="text-center">Почивен Дневен</td>
                        <td class="text-center"> Почивен ден</td>
                        <td class="text-center">Нощна смяна</td>
                        <td class="text-center">Почивен ден</td>
                    </tr>
                    <tr  class="table-active">
                        <td class="text-center">Дневна смяна</td>
                        <td class="text-center">Нощна смяна</td>
                        <td class="text-center">Нощна смяна</td>
                        <td class="text-center">Почивен Дневен</td>
                        <td class="text-center"> Почивен ден</td>
                        <td class="text-center">Нощна смяна</td>
                        <td class="text-center" style="color:#0275d8;"><i>Почивен ден</i></td>
                    </tr>
                    <tr>
                        <td class="text-center">Дневна смяна</td>
                        <td class="text-center">Нощна смяна</td>
                        <td class="text-center">Нощна смяна</td>
                        <td class="text-center">Почивен Дневен</td>
                        <td class="text-center"> Почивен ден</td>
                        <td class="text-center">Нощна смяна</td>
                        <td class="text-center">Почивен ден</td>
                    </tr>
                    <tr>
                        <td class="text-center">Дневна смяна</td>
                        <td class="text-center">Нощна смяна</td>
                        <td class="text-center">Нощна смяна</td>
                        <td class="text-center">Почивен ден</td>
                        <td class="text-center">Почивен ден</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary btn-block">Предстоящо отсъствие</button>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Предстоящо отсъствие</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i data-feather="x"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Моля попълнете празните полета.</p>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email-id-icon">От кога ще остъствате?</label>
                                    <div class="position-relative">
                                        <input type="date" class="form-control" placeholder="Начало на период на неприсъствие" id="email-id-icon">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email-id-icon">До кога няма да сте на работа?</label>
                                    <div class="position-relative">
                                        <input type="date" class="form-control" placeholder="Край на период на неприсъствие" id="email-id-icon">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                <i class="bx bx-x d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Назад</span>
                            </button>
                            <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Изпрати</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
