<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TaxiBook</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="shortcut icon" href="~/images/logo-second-type.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/app.css">
</head>
<body>

    @this.RenderBody()

    <script src="~/js/feather-icons/feather.min.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/main.js"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>