<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaxiBook</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/vendors/simple-datatables/style.css" />
    <link rel="stylesheet" href="~/vendors/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/vendors/dragula/dragula.min.css" />
    <link rel="stylesheet" href="~/vendors/chartjs/Chart.min.css" />
    <link rel="stylesheet" href="~/css/app.css" />
    <link rel="shortcut icon" href="~/images/logo-second-type.png" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/0368fc1ed1.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="app">
        <div id="sidebar" class='active'>
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <img src="~/images/logo-first-type.svg" alt="" srcset="">
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <h1>Клиент</h1>
                        <li class="sidebar-item">
                            <a asp-area="default" asp-controller="Home" asp-action="Dashboard" class='sidebar-link'>
                                <i class="fas fa-home"></i>
                                <span>Начало</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-area="default" asp-controller="Order" asp-action="Overview" class='sidebar-link'>
                                <i class="fas fa-search-location"></i>
                                <span>Моето такси</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-area="default" asp-controller="Home" asp-action="GiveFeedback" class='sidebar-link'>
                                <i class="fas fa-comment-dots"></i>
                                <span>Оцени пътуване</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-area="default" asp-controller="Favorites" asp-action="All" class='sidebar-link'>
                                <i class="fas fa-bookmark"></i><script src="https://kit.fontawesome.com/0368fc1ed1.js" crossorigin="anonymous"></script>
                                <span>Любими</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-area="default" asp-controller="Company" asp-action="Create" class='sidebar-link'>
                                <i class="fas fa-plus"></i>
                                <span>Добави компания</span>
                            </a> 
                        </li>
                        <h1>Мениджър</h1>
                        <li class="sidebar-item">
                            <a asp-area="Manager" asp-controller="Home" asp-action="Index" class='sidebar-link'>
                                <i class="fas fa-home"></i>
                                <span>Начало</span>
                            </a> 
                        </li>
                        <li class="sidebar-item">
                            <a asp-area="Manager" asp-controller="Employees" asp-action="All" class='sidebar-link'>
                                <i class="fas fa-users"></i>
                                <span>Служители</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-area="Manager" asp-controller="Schedule" asp-action="CurrentMonth" class='sidebar-link'>
                                <i class="fas fa-calendar-alt"></i>
                                <span>График</span>
                            </a>
                        </li>
                        <h1>Шофьор</h1>
                        <li class="sidebar-item">
                            <a asp-area="TaxiDriver" asp-controller="Home" asp-action="Index" class='sidebar-link'>
                                <i class="fas fa-home"></i>
                                <span>Начало</span>
                            </a> 
                        </li>
                        <li class="sidebar-item">
                            <a asp-area="TaxiDriver" asp-controller="Orders" asp-action="Create" class='sidebar-link'>
                                <i class="fas fa-plus"></i>
                                <span>Направи поръчка</span>
                            </a> 
                        </li>
                        <li class="sidebar-item">
                            <a asp-area="TaxiDriver" asp-controller="Orders" asp-action="AcceptedOrders" class='sidebar-link'>
                                <i class="far fa-check-circle"></i>
                                <span>Приети поръчки</span>
                            </a> 
                        </li>
                        <li class="sidebar-item">
                            <a asp-area="TaxiDriver" asp-controller="Orders" asp-action="RefusedOrders" class='sidebar-link'>
                                <i class="far fa-times-circle"></i>
                                <span>Отказани поръчки</span>
                            </a> 
                        </li>
                        <li class="sidebar-item">
                            <a asp-area="TaxiDriver" asp-controller="Home" asp-action="Schedule" class='sidebar-link'>
                                <i class="fas fa-calendar-alt"></i>
                                <span>График</span>
                            </a>
                        </li>
                        <h1>Диспечер</h1>
                        <li class="sidebar-item">
                            <a asp-area="Dispatcher" asp-controller="Orders" asp-action="Create" class='sidebar-link'>
                                <i class="fas fa-home"></i>
                                <span>Начало</span>
                            </a> 
                        </li>
                        <li class="sidebar-item">
                            <a asp-area="Dispatcher" asp-controller="Home" asp-action="Track"  class='sidebar-link'>
                                <i class="fas fa-search-location"></i>
                                <span>Проследи такси</span>
                            </a> 
                        </li>
                        <li class="sidebar-item">
                            <a asp-area="Dispatcher" asp-controller="Orders" asp-action="AcceptedOrders" class='sidebar-link'>
                                <i class="far fa-check-circle"></i>
                                <span>Приети поръчки</span>
                            </a> 
                        </li>
                        <li class="sidebar-item">
                            <a asp-area="Dispatcher" asp-controller="Orders" asp-action="RefusedOrders" class='sidebar-link'>
                                <i class="far fa-times-circle"></i>
                                <span>Отказани поръчки</span>
                            </a> 
                        </li>
                        <li class="sidebar-item">
                            <a asp-area="Dispatcher" asp-controller="Home" asp-action="Schedule" class='sidebar-link'>
                                <i class="fas fa-calendar-alt"></i>
                                <span>График</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <nav class="navbar navbar-header navbar-expand navbar-light">
                <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
                <button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex align-items-center navbar-light ml-auto">
                        <li class="dropdown nav-icon mr-2">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <div class="avatar mr-1">
                                    <img src="~/images/avatar/avatar-s-8.png" alt="" srcset="">
                                </div>
                                <div class="d-none d-md-block d-lg-inline-block">Здравей, Стефани!</div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" asp-area="default" asp-controller="Profile" asp-action="Overview"><i data-feather="user"></i> Профил</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="Identity" asp-controller="Account" asp-action="Logout"><i data-feather="log-out"></i> Излез</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="main-content container-fluid">
                @this.RenderBody()
            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-left">
                        <p>2020 &copy Voler</p>
                    </div>
                    <div class="float-right">
                        <p>Crafted with <span class='text-danger'><i data-feather="heart"></i></span> by <a href="http://ahmadsaugi.com">Ahmad Saugi</a>. Downloaded from <a href="https://themeslab.org/" target="_blank">Themeslab</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/js/feather-icons/feather.min.js"></script>
    <script src="~/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/vendors/chartjs/Chart.min.js"></script>
    <script src="~/vendors/dragula/dragula.min.js"></script>
    <script src="~/vendors/simple-datatables/simple-datatables.js"></script>
    <script src="~/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="~/js/vendors.js"></script>
    <script src="~/js/pages/dashboard.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/map.js"></script>
    <script src="~/js/delete-row-function.js"></script>
    <script src="~/js/only-one-to-be-checked.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
