<div class="page-title">
    <h3>Месечен график</h3>
    <p class="text-subtitle text-muted">Освен, че имате на разположение своя месечен график със съответните за всеки ден работни смени, то при необходимост можете и да уведомите работодателя си за предстоящото отсъствие.</p>
</div>
<div class="card collapse-icon accordion-icon-rotate"><br />
    <div class="card-content">
        <div class="card-header">
            <h4 class="card-title, text-center";>Декември</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Понеделник</th>
                        <th class="text-center">Вторник</th>
                        <th class="text-center">Сряда</th>
                        <th class="text-center">Четвътък</th>
                        <th class="text-center">Петък</th>
                        <th class="text-center">Събота</th>
                        <th class="text-center" style="color:#0275d8;">Неделя</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">1</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">2</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">3</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">4</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">5</a></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">6</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">7</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">8</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">9</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">10</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">11</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">12</a></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">13</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">14</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">15</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">16</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">17</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">18</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">19</a></td>
                    </tr>
                    <tr class="table-active">
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">20</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">21</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">22</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">23</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">24</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">25</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">26</a></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">27</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">28</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">29</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">30</a></td>
                        <td class="text-center"><a class="table-element" role="button" data-toggle="modal" data-target="#workTime">31</a></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" data-toggle="modal" data-target="#forthcomingAbsence" class="btn btn-primary btn-block">Предстоящо отсъствие</button>
            <div class="modal fade" id="forthcomingAbsence" tabindex="-1" role="dialog" aria-labelledby="forthcomingAbsenceTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Предстоящо отсъствие</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i data-feather="x"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p> Моля попълнете празните полета.</p>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email-id-icon">От кога ще остъствате?</label>
                                    <div class="position-relative">
                                        <input type="date" class="form-control" placeholder="Начало на период на неприсъствие" id="email-id-icon">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email-id-icon">До кога няма да сте на работа?</label>
                                    <div class="position-relative">
                                        <input type="date" class="form-control" placeholder="Край на период на неприсъствие" id="email-id-icon">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                <i class="bx bx-x d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Назад</span>
                            </button>
                            <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Изпрати</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="workTime" tabindex="-1" role="dialog" aria-labelledby="workTimeTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Дневно работно време</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i data-feather="x"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row"> 
                                <div class="col-md-6">
                                    <div class="form-group position-relative has-icon-left">
                                        <label for="disabledInput">От</label>
                                        <div class="position-relative">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="8:00">                                   
                                            </div>
                                            <div class="form-control-icon">
                                                <i class="fas fa-hourglass-start"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group position-relative has-icon-left">
                                        <label for="disabledInput">До</label>
                                        <div class="position-relative">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="16:30">                                   
                                            </div>
                                            <div class="form-control-icon">
                                                <i class="fas fa-hourglass-end"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Затвори</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
