@{
    this.Layout = "_LoggedLayout";
}

<div class="page-title">
    <h3>Моята компания</h3>
    <p class="text-subtitle text-muted">Тук са данните за вашата компания.</p>
</div>
<div class="row mb-2">
    <div class="col-12 col-md-6">
        <div class="card card-statistic">
            <div class="card-body p-0">
                <div class="d-flex flex-column" style="background-color:#5A8DEE; box-shadow: 2px 2px 2px #B9D1FF;">
                    <div class='px-3 py-3 d-flex justify-content-between'>
                        <h3 class='card-title'>Диспечери</h3>
                        <div class="card-right d-flex align-items-center">
                            <p>8</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card card-statistic">
            <div class="card-body p-0">
                <div class="d-flex flex-column" style="background-color:#5A8DEE; box-shadow: 2px 2px 2px #B9D1FF;">
                    <div class='px-3 py-3 d-flex justify-content-between'>
                        <h3 class='card-title'>Таксиметрови шофьори</h3>
                        <div class="card-right d-flex align-items-center">
                            <p>5 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <form class="form form-vertical">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="companyName">Име</label>
                                        <input type="text" class="form-control" id="companyName" placeholder="Име на компанията" disabled name="" value="Диаманд Такси">
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="phoneNumber">Телефонен номер</label>
                                        <input type="text" class="form-control" placeholder="Телефонен номер" id="phoneNumber" disabled name="" value="0887654323">
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group position-relative">
                                        <label for="description">Описание</label>
                                        <textarea class="form-control" rows="2" placeholder="Повече за вашата компания" id="description" disabled name="">Спокойно и комфортно пътуване с нас!</textarea>             
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="province">Област</label>
                                        <input type="text" class="form-control" placeholder="Област" id="province" disabled name="" value="Пловдив">
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <h4 class="card-title">Дневна тарифа</h4>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="oneКilometerМileageDailyPrice">Цена за 1 километър пробег</label>
                                        <input type="number" class="form-control" placeholder="0.00" id="oneКilometerМileageDailyPrice" disabled name="" value="0.90">
                                        <span class="text-danger"></span>
                                    </div>
                                </div> 
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="dailyPricePerCall">Цена за повикване</label>
                                        <input  type="number" class="form-control" placeholder="0.00" id="dailyPricePerCall" disabled name="" value="0.00">
                                        <span class="text-danger"></span>
                                    </div>
                                </div> 
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="initialDailyFee">Първоначална такса</label>
                                        <input type="number" class="form-control" placeholder="0.00" id="initialDailyFee" disabled name="" value="1.20">
                                        <span class="text-danger"></span>
                                    </div>
                                </div> 
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="dailyPricePerMinuteStay">Цена за 1 минута престой</label>
                                        <input type="number" class="form-control" placeholder="0.00" id="dailyPricePerMinuteStay" disabled name="" value="0.30">
                                         <span class="text-danger"></span>
                                    </div>
                                </div> 
                                <h4 class="card-title">Нощна тарифа</h4>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="oneКilometerМileageNightPrice">Цена за 1 километър пробег</label>
                                        <input type="number" class="form-control" placeholder="0.00" id="oneКilometerМileageNightPrice" disabled name="" value="1.00">
                                        <span class="text-danger"></span>
                                    </div>
                                </div> 
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="initialNightFee">Цена за повикване</label>
                                        <input type="number" class="form-control" placeholder="0.00" id="initialNightFee" disabled name="" value="0.00">
                                        <span class="text-danger"></span>
                                    </div>
                                </div> 
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="nightPricePerCall">Първоначална такса</label>
                                        <input type="number" class="form-control" placeholder="0.00" id="nightPricePerCall" disabled name="" value="1.40">
                                        <span class="text-danger"></span>
                                    </div>
                                </div> 
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="nightPricePerMinuteStay">Цена за 1 минута престой</label>
                                        <input type="number" class="form-control" placeholder="0.00" id="nightPricePerMinuteStay" disabled name="" value="0.50">
                                        <span class="text-danger"></span>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end">
                                <button id="hiddenButton" type="submit" class="btn btn-outline-primary mr-1 mb-1" style="visibility: hidden">Запази</button>
                                <button id="edit" onclick="enable('companyName', 'phoneNumber', 'description', 'province', 'oneКilometerМileageDailyPrice', 'dailyPricePerCall', 'initialDailyFee', 'dailyPricePerMinuteStay', 'oneКilometerМileageNightPrice', 'nightPricePerCall', 'initialNightFee', 'nightPricePerMinuteStay', 'hiddenButton', 'edit')" type="button" class="btn btn-primary mr-1 mb-1">Редактирай</button>
                                <script>
                                    function enable(companyName, phoneNumber, description, province, oneКilometerМileageDailyPrice, dailyPricePerCall, initialDailyFee, dailyPricePerMinuteStay, oneКilometerМileageNightPrice, nightPricePerCall, initialNightFee, nightPricePerMinuteStay, hiddenButton, edit) {
                                        document.getElementById(companyName).disabled = false;
                                        document.getElementById(phoneNumber).disabled = false;
                                        document.getElementById(description).disabled = false;
                                        document.getElementById(province).disabled = false;
                                        document.getElementById(oneКilometerМileageDailyPrice).disabled = false;
                                        document.getElementById(dailyPricePerCall).disabled = false;
                                        document.getElementById(initialDailyFee).disabled = false;
                                        document.getElementById(dailyPricePerMinuteStay).disabled = false;
                                        document.getElementById(oneКilometerМileageNightPrice).disabled = false;
                                        document.getElementById(nightPricePerCall).disabled = false;
                                        document.getElementById(initialNightFee).disabled = false;
                                        document.getElementById(nightPricePerMinuteStay).disabled = false;
                                        document.getElementById(edit).disabled = true;

                                        document.getElementById(hiddenButton).style.visibility = "visible";
                                    }
                                </script>
                            </div>
                        </div>
                    </form>           
                </div>
            </div>
        </div>
    </div>
</div>
