@*@using TaxiBook.Services.ViewModels.Companies
@using TaxiBook.Services.ViewModels.Favorites
@model CompanyListingViewModel*@
@{
    this.Layout = "_LoggedLayout";
}

<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-12 order-md-1 order-last">
            <h3>Любими</h3>
            <p class="text-subtitle text-muted">Тук са всички компании, които сте добавили като любими.</p>
        </div>
    </div>
</div>
<section class="section">
    <div class="card">
        <div class="card-body">
            <table class='table table-hover'>
                <thead>
                    <tr class="text-center">
                        <th>Компания</th>
                        <th>Цена за километър</th>
                        <th>Област</th>
                        <th>Обади се сега</th>
                        <th>Функции</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td><a>Иванина Такси</a></td>
                        <td>1.18 лв.</td>
                        <td>Пазарджик</td>
                        <td><a href="tel:+359 2 091 3254">+359 2 091 3254</a></td>
                        <td><a asp-area="default" asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a> <span class="table-element" role="button" value="Delete Row" onclick="DeleteRowFunction(this)"><i class="far fa-trash-alt"></i></span></td>
                    </tr>
                    <tr class="text-center">
                        <td><a>Елит Такси</a></td>
                        <td>1.20 лв.</td>
                        <td>Пазарджик</td>
                        <td><a href="tel:089 706 5688">+359 2 285 6380</a></td>
                        <td><a asp-area="default" asp-controller="Order" asp-action="Details"><i class="fas fa-plus"></i></a> <span class="table-element" role="button" value="Delete Row" onclick="DeleteRowFunction(this)"><i class="far fa-trash-alt"></i></span></td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Добави</button>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Добави към любими</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <i data-feather="x"></i>
                            </button>
                        </div>
                        <form method="post">
                            <div class="modal-body">
                                <p>Моля изберете компания.</p>
                                <div class="col-md-12 col-12">
                                    <div class="form-group form-label-group">
                                        <label for="companyName">Име</label>
                                        <fieldset class="form-group">
                                            <select class="form-select" id="companyName">
                                                <option selected="true" disabled="disabled">Изберете...</option>  
                                                <option value="България Такси">България Такси</option>
                                                <option value="Диамант Такси">Диамант Такси</option>
                                                <option value="ОК Такси">ОК Такси</option>
                                            </select>
                                        </fieldset>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">
                                    <i class="bx bx-x d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">Затвори</span>
                                </button>
                                <button type="submit" class="btn btn-primary ml-1" data-bs-dismiss="modal">
                                    <i class="bx bx-check d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">Добави</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
