@model TaxiBook.Areas.Manager.ViewModels.Schedule.AddEmployeeViewModel

<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Добави служител</h3>
            <p class="text-subtitle text-muted">Можете да добавите своя нов таксиметров шофьор тук.</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="manager-schedule-employees.html">24.12.2021</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Добави служител</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form" method="post" asp-area="Manager" asp-controller="Schedule" asp-action="AddEmployee" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="name">Име</label>
                                        <input type="text" asp-for="Name" class="form-control" id="name" placeholder="Име">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="position">Длъжност</label>
                                        <input type="text" asp-for="Position" class="form-control" id="position" placeholder="Длъжност">
                                        <span asp-validation-for="Position" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="from">От</label>
                                        <input type="time" asp-for="From" class="form-control" id="from">
                                        <span asp-validation-for="From" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="till">До</label>
                                        <input type="time" asp-for="Till" class="form-control" id="till">
                                        <span asp-validation-for="Till" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary mr-1 mb-1">Добави</button>
                                <button type="reset" class="btn btn-light-secondary mr-1 mb-1">Върни по подразбиране</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
