<div class="page-title">
    <h3>Месечен график</h3>
    <p class="text-subtitle text-muted">Освен, че имате на разположение своя месечен график със съответните за всеки ден работни смени, то при необходимост можете и да уведомите работодателя си за предстоящото отсъствие.</p>
</div>
<div class="card collapse-icon accordion-icon-rotate"><br />
    <div class="card-content">
        <div class="card-header">
            <h4 class="card-title, text-center">Февруари, 2022</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Понеделник</th>
                        <th class="text-center">Вторник</th>
                        <th class="text-center">Сряда</th>
                        <th class="text-center">Четвъртък</th>
                        <th class="text-center">Петък</th>
                        <th class="text-center">Събота</th>
                        <th class="text-center">Неделя</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">1</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">2</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">3</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">4</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">5</a></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">6</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">7</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">8</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">9</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">10</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">11</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">12</a></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">13</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">14</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">15</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">16</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">17</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">18</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">19</a></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">20</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">21</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">22</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">23</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">24</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">25</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">26</a></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">27</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">28</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">29</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">30</a></td>
                        <td class="text-center"><a class="btn nohover" asp-area="Manager" asp-controller="Schedule" asp-action="Employees">31</a></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card">
        <div class="card-header">
            <h4 class="card-title, text-center">Предстоящи отсъствия</h4>
        </div>
        <div class="card-body">
            <div>
                <table class='table table-hover'>
                    <thead>
                        <tr>
                            <th class="text-center">Име</th>
                            <th class="text-center">Роля</th>
                            <th class="text-center">Период</th>
                            <th class="text-center">Отметка</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>Стефани Кочева</td>
                            <td>Диспечер</td>
                            <td>26.02.2022  - 28.02.2022</td>
                            <td><button class="btn btn-primary"><i class="fas fa-check"></i></button> <button class="btn btn-outline-primary"><i class="fas fa-times"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<!-- Calendar creation by my imagination 
@{
    var currentMonth = DateTime.UtcNow.Month;
    var currentYear = DateTime.UtcNow.Year;

    const int daysInWeek = 7;
    int daysInMonth = DateTime.DaysInMonth(currentYear, currentMonth);

    var weekDayMonthStart = (double)new DateTime(currentYear, currentMonth, 1).DayOfWeek;
    var weekDayMonthEnd = (int)new DateTime(currentYear, currentMonth, daysInMonth).DayOfWeek;

    double firstWeekDaysFromPreviousMonth = weekDayMonthStart - 1;
    double weeks = Math.Ceiling((daysInMonth + firstWeekDaysFromPreviousMonth) / daysInWeek);
    
    int start = 0, end = 0;
}
<div class="card collapse-icon accordion-icon-rotate"><br />
    <div class="card-content">
        <div class="card-header">
            <h4 class="card-title, text-center">Декември</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Понеделник</th>
                        <th class="text-center">Вторник</th>
                        <th class="text-center">Сряда</th>
                        <th class="text-center">Четвътък</th>
                        <th class="text-center">Петък</th>
                        <th class="text-center">Събота</th>
                        <th class="text-center">Неделя</th>
                    </tr>
                </thead>
                <tbody>
                    for (int i = 1; i <= weeks; i++)
                    {
                        if (i == 1)
                        {
                            for (int j = 1; j <= daysInWeek; j++)
                            {
                                if (j == 1)
                                {
                                    <tr>
                                }
                                else if (j < weekDayMonthStart && j > 1)
                                {
                                    <td class="text-center"></td>
                                }
                                else
                                {
                                    j -= (int)firstWeekDaysFromPreviousMonth;

                                    <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">j</a></td>

                                    j += (int)firstWeekDaysFromPreviousMonth;

                                    if (j == daysInWeek)
                                    {
                                        start = j - (int)firstWeekDaysFromPreviousMonth + 1;

                                        </tr>
                                    }
                                }
                            }
                        }
                        else if (i == weeks)
                        {
                            <tr>
                            int lastWeekDaysFromNextMonth = daysInWeek - weekDayMonthEnd;
                            end = lastWeekDaysFromNextMonth + daysInMonth;

                            for (int j = start; j <= end; j++)
                            {
                                if (j <= daysInMonth)
                                {
                                    <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">j</a></td>
                                }
                                else if (j == end)
                                {
                                    <td class="text-center"></td>
                                    </tr>
                                }
                                else if (j > daysInMonth && j != end)
                                {
                                    <td class="text-center"></td>
                                }
                            }
                        }
                        else
                        {
                            <tr>
                            end = start + 6;

                            for (int j = start; j <= end; j++)
                            {
                                <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">j</a></td>

                                if (j == end)
                                {
                                    start = j + 1;
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div> -->
