<div class="page-title">
    <h3>Месечен график</h3>
    <p class="text-subtitle text-muted">Освен, че имате на разположение своя месечен график със съответните за всеки ден работни смени, то при необходимост можете и да уведомите работодателя си за предстоящото отсъствие.</p>
</div>
<div class="card collapse-icon accordion-icon-rotate"><br />
    <div class="card-content">
        <div class="card-header">
            <h4 class="card-title, text-center">Декември</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Понеделник</th>
                        <th class="text-center">Вторник</th>
                        <th class="text-center">Сряда</th>
                        <th class="text-center">Четвътък</th>
                        <th class="text-center" style="color:#0275d8;">Петък</th>
                        <th class="text-center">Събота</th>
                        <th class="text-center">Неделя</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">1</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">2</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">3</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">4</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">5</a></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">6</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">7</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">8</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">9</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">10</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">11</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">12</a></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">13</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">14</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">15</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">16</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">17</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">18</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">19</a></td>
                    </tr>
                    <tr class="table-active">
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">20</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">21</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">22</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">23</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">24</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">25</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">26</a></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">27</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">28</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">29</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">30</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="Employees">31</a></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
