<div class="page-title">
    <h3>Месечен график</h3>
    <p class="text-subtitle text-muted">Освен, че имате на разположение своя месечен график със съответните за всеки ден работни смени, то при необходимост можете и да уведомите работодателя си за предстоящото отсъствие.</p>
</div>
<div class="card collapse-icon accordion-icon-rotate"><br />
    <div class="card-content">
        <div class="card-header">
            <h4 class="card-title, text-center">Декември</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Понеделник</th>
                        <th class="text-center">Вторник</th>
                        <th class="text-center">Сряда</th>
                        <th class="text-center">Четвътък</th>
                        <th class="text-center" style="color:#0275d8;">Петък</th>
                        <th class="text-center">Събота</th>
                        <th class="text-center">Неделя</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">1</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">2</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">3</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">4</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">5</a></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">6</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">7</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">8</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">9</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">10</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">11</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">12</a></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">13</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">14</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">15</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">16</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">17</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">18</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">19</a></td>
                    </tr>
                    <tr class="table-active">
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">20</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">21</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">22</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">23</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">24</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">25</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">26</a></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">27</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">28</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">29</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">30</a></td>
                        <td class="text-center"><a asp-area="Manager" asp-controller="Schedule" asp-action="DayDetails">31</a></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
