<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Служители - 04.03.2022</h3>
            <p class="text-subtitle text-muted">Тук са служителите, които сте добавили за конкретния ден.</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="Manager" asp-controller="Schedule" asp-action="CurrentMonth">График</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Служители - 04.03.2022</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div id="table" class="table-editable">
            <table class='table table-hover'>
                <thead>
                    <tr align="center">
                        <th>Име</th>
                        <th>Длъжност</th>
                        <th>Работно време</th>
                        <th>Функция</th>
                    </tr>
                </thead>
                <tbody align="center">
                    <tr>
                        <td>Стефани Кочева</td>
                        <td>Диспечер</td>
                        <td>8:00 - 16:30</td>
                        <td><span class="table-element" role="button" value="Delete Row" onclick="DeleteRowFunction(this)"> <i class="far fa-trash-alt"></i></span></td>
                    </tr>
                    <tr>
                        <td>Тест Тестов</td>
                        <td>Таксиметров шофьор</td>
                        <td>16:30 - 1:00</td>
                        <td><span class="table-element" role="button" value="Delete Row" onclick="DeleteRowFunction(this)"> <i class="far fa-trash-alt"></i></span></td>
                    </tr>
                </tbody>
            </table>
            <a role="button" asp-area="Manager" asp-controller="Schedule" asp-action="AddEmployee" class="btn btn-primary btn-block">Добави</a>                            
            <div class="modal fade text-left" id="large" tabindex="-1" role="dialog" aria-labelledby="myModalLabel160" aria-hidden="true">
        </div>
    </div>
</div>
</div>
