@page
@model ForgotPasswordModel
@{
    this.Layout = "_AuthenticationLayout";
}

<div id="auth">
    <div class="container">
        <br /><br /><br />
        <div class="row">
            <div class="col-md-5 col-sm-12 mx-auto">
                <div class="card py-4">
                    <div class="card-body">
                        <div class="text-center mb-5">
                            <img src="~/images/logo-second-type.png" height="48" class='mb-4'>
                            <h3>Забравена парола</h3>
                            <p>Моля въведете имейл, за да получите линк за възстановяване на вашата парола.</p>
                        </div>
                        <form method="post">
                            <div class="form-group">
                                <label for="email" asp-for="Input.Email">Email</label>
                                <input id="email" type="email" asp-for="Input.Email" class="form-control" placeholder="Email">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="clearfix">
                                <button type="submit" class="btn btn-primary float-right">Изпрати</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}