@page
@model LogoutModel
@{
    this.Layout = "_AuthenticationLayout";
}
<div id="auth">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 mx-auto">
                <div class="card py-4">
                    <div class="card-body">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="text-center mb-5">
                                <img src="~/images/logo-second-type.png" height="48" class='mb-4'>
                                <h3>Изход</h3>
                                <p>Сигурни ли сте, че искате да излезете от своя профил?</p>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                    <button type="submit" class="btn btn-primary mr-1 mb-1">Да</button>
                                </form>
                                 <a type="submit" href="javascript:window.history.back()" class="btn btn-outline-primary float-right mr-1 mb-1">Не</a>     
                            </div>
                        }
                        else
                        {
                            <div class="text-center mb-5">
                                <img src="~/images/logo-second-type.png" height="48" class='mb-4'>
                                <h3>Изход</h3>
                                <p>Вие вече успешно излязохте от своя акаунт.</p>
                            </div>
                        }       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>