@page
@model RegisterModel
@{
    this.Layout = "_AuthenticationLayout";
}

<div id="auth">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 mx-auto">
                <div class="card pt-4">
                    <div class="card-body">
                        <div class="text-center mb-5">
                            <img src="assets/images/favicon.svg" height="48" class='mb-4'>
                            <h3>Sign Up</h3>
                            <p>Please fill the form to register.</p>
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Input.FirstName">First name</label>
                                        <input asp-for="Input.FirstName" class="form-control">
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Input.LastName">Last name</label>
                                        <input asp-for="Input.LastName" class="form-control">
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Input.Email">Email</label>
                                        <input asp-for="Input.Email" class="form-control">
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Input.Password">Password</label>
                                        <input asp-for="Input.Password" class="form-control">
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Input.ConfirmPassword">Confirm password</label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control">
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <label for="profile-picture">Profile picture</label>
                                    <div class="form-file">
                                        <input asp-for="Input.ProfilePicture" type="file">
                                        <label class="form-file-label" asp-for="Input.ProfilePicture">
                                            <span class="form-file-text">Choose file...</span>
                                            <span class="form-file-button btn-primary"><i data-feather="upload"></i></span>
                                        </label>
                                        <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="checkbox" asp-for="Input.IsManager" class="form-check-input" />
                                        <label asp-for="Input.IsManager">I am a manager.</label>
                                    </div>
                                </div>
                            </div>
                            <div class='form-check clearfix my-4'>
                                <div class="float-right">
                                    <a asp-controller="Account" asp-action="Login">Have an account? Login</a>
                                </div>
                            </div>
                            <div class="clearfix">
                                <button type="submit" class="btn btn-primary float-right">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br /><br /><br />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}