@using TaxiBook.Areas.Dispatcher.ViewModels.Orders
@model CreateOrderViewModel

<div class="page-title">
    <div class="row">
        <div class="col-12">
            <h3>Направи поръчка</h3>
            <p class="text-subtitle text-muted">Тук може да създавате нови поръчки.</p>
        </div>
    </div>
</div>
<div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2956.173642003534!2d24.332994640815865!3d42.189354637596956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbg!4v1647159005753!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form" method="post" asp-area="Dispatcher" asp-controller="Orders" asp-action="Create">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label asp-for="ClientName" for="name">Име</label>
                                        <div class="position-relative">
                                            <input asp-for="ClientName" type="text" class="form-control" placeholder="Име" id="name">
                                            <div class="form-control-icon">
                                                <i class="fas fa-user"></i>
                                            </div>
                                        </div>
                                        <span asp-validation-for="ClientName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label asp-for="PhoneNumber" for="phoneNumber">Телефонен номер</label>
                                        <div class="position-relative">
                                            <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Телефонен номер" id="phoneNumber">
                                            <div class="form-control-icon">
                                                <i class="fas fa-phone-alt"></i>
                                            </div>
                                        </div>
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label asp-for="StartLocation" for="startLocation">Начална точка</label>
                                        <div class="position-relative">
                                            <input asp-for="StartLocation" type="text" class="form-control" placeholder="Начална точка" id="startLocation">
                                            <div class="form-control-icon">
                                                <i class="fas fa-street-view"></i>
                                            </div>
                                        </div>                                            
                                        <span asp-validation-for="StartLocation" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group position-relative">
                                        <label asp-for="StartLocationDetails" for="startLocationDetails">Уточнение за начална точка</label>
                                        <textarea asp-for="StartLocationDetails" id="startLocationDetails" class="form-control" rows="2" placeholder="Уточнение за начална точка"></textarea>              
                                        <span asp-validation-for="StartLocationDetails" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label asp-for="EndLocation" for="endLocation">Крайна точка</label>
                                        <div class="position-relative">
                                            <input asp-for="EndLocation"  type="text" class="form-control" placeholder="Крайна точка" id="endLocation">
                                            <div class="form-control-icon">
                                                <i class="fas fa-map-marked-alt"></i>
                                            </div>
                                        </div>
                                        <span asp-validation-for="EndLocation" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group position-relative">
                                        <label asp-for="EndLocationDetails" for="endLocationDetails">Уточнение за крайна точка</label>
                                        <textarea asp-for="EndLocationDetails" id="endLocationDetails" class="form-control" rows="2" placeholder="Уточнение за крайна точка"></textarea>             
                                        <span asp-validation-for="EndLocationDetails" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label asp-for="CountOfPassengers" for="countOfPassengers">Брой пътуващи</label>
                                        <div class="position-relative">
                                            <input asp-for="CountOfPassengers" type="number" class="form-control" placeholder="Брой пътуващи" id="countOfPassengers">
                                            <div class="form-control-icon">
                                                <i class="fas fa-users"></i>
                                            </div>
                                        </div>
                                        <span asp-validation-for="CountOfPassengers" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group position-relative">
                                        <label asp-for="AdditionalRequirements" for="additionalRequirements">Допълнителни изисквания</label>
                                        <textarea asp-for="AdditionalRequirements" id="additionalRequirements" class="form-control" rows="2" placeholder="Допълнителни изисквания"></textarea>             
                                        <span asp-validation-for="AdditionalRequirements" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="form-group has-icon-left">
                                        <label asp-for="TaxiDriver" for="taxiDriver">Таксиметров шофьор</label>
                                        <div class="position-relative">
                                            <input asp-for="TaxiDriver" type="text" class="form-control" placeholder="Таксиметров шофьор (ctrl + v)" id="taxiDriver">
                                            <div class="form-control-icon">
                                                <i class="fas fa-user-tie"></i>
                                            </div>
                                        </div>
                                        <span asp-validation-for="TaxiDriver" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary mr-1 mb-1">Изпрати</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="card collapse-icon accordion-icon-rotate"><br />
    <div class="card-content">
        <div class="card-header">
            <h4 class="text-center">
                Свободни шофьори
            </h4>
        </div>
        <div class="card-body">
            <table class='table table-hover'>
                <thead>
                    <tr>
                        <th class="text-center">Email</th>
                        <th class="text-center">Функция</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">stefanitaxidriver@example.com</td>
                        <td class="text-center"><a class="table-element" role="button" onclick="copyFunction('stefanitaxidriver@example.com')"><i class="fas fa-copy"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    window.onbeforeunload = function() {
        return "Are you sure you want to close the window?";
    };
</script>
