<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Детайли за избраната поръчка</h3>
            <p class="text-subtitle text-muted">Допълнителната информация за поръчката е тук.</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="Dispatcher" asp-controller="Orders" asp-action="AcceptedOrders">Приети поръчки</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Повече детайли</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="first-name-icon">Име на клиент</label>
                                        <div class="position-relative">
                                            <input readonly="readonly" type="text" class="form-control" value="Стефани" id="first-name-icon">
                                            <div class="form-control-icon">
                                                <i class="fas fa-user-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="first-name-icon">Телефонен номер</label>
                                        <div class="position-relative">
                                            <input readonly="readonly" type="text" class="form-control" value="089 6654 2341" id="first-name-icon">
                                            <div class="form-control-icon">
                                                <i class="fas fa-phone-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="first-name-icon">Начална точка</label>
                                        <div class="position-relative">
                                            <input readonly="readonly" type="text" class="form-control" value='бул. "Мария Луиза" 10' id="first-name-icon">
                                            <div class="form-control-icon">
                                                <i class="fas fa-street-view"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="first-name-icon">Крайна дестинация</label>
                                        <div class="position-relative">
                                            <input readonly="readonly" type="text" class="form-control" value='Парк "Писковец"' id="first-name-icon">
                                            <div class="form-control-icon">
                                                <i class="fas fa-map-marked-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="first-name-icon">Уточнение</label>
                                        <div class="position-relative">
                                            <input readonly="readonly" type="text" class="form-control" value='-' id="first-name-icon">
                                            <div class="form-control-icon">
                                                <i class="fas fa-pen"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="first-name-icon">Уточнение</label>
                                        <div class="position-relative">
                                            <input readonly="readonly" type="text" class="form-control" value='-' id="first-name-icon">
                                            <div class="form-control-icon">
                                                <i class="fas fa-pen"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="first-name-icon">Брой пътуващи</label>
                                        <div class="position-relative">
                                            <input readonly="readonly" type="number" class="form-control" value="2" id="first-name-icon">
                                            <div class="form-control-icon">
                                                <i class="fas fa-users"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="first-name-icon">Допълнителни изисквания</label>
                                        <div class="position-relative">
                                            <input readonly="readonly" type="text" class="form-control" value="-" id="first-name-icon">
                                            <div class="form-control-icon">
                                                <i class="far fa-handshake"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="first-name-icon">Час на направа на поръчка</label>
                                        <div class="position-relative">
                                            <input readonly="readonly" type="text" class="form-control" value="7:34" id="first-name-icon">
                                            <div class="form-control-icon">
                                                <i class="fas fa-hourglass-start"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="first-name-icon">Време на изпълнение</label>
                                        <div class="position-relative">
                                            <input readonly="readonly" type="text" class="form-control" value="5 минути" id="first-name-icon">
                                            <div class="form-control-icon">
                                                <i class="fas fa-clock"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="first-name-icon">Таксиметров шофьор</label>
                                        <div class="position-relative">
                                            <input readonly="readonly" type="text" class="form-control" value="Стефани Кочева" id="first-name-icon">
                                            <div class="form-control-icon">
                                                <i class="fas fa-user-edit"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="first-name-icon">Приблизителна цена</label>
                                        <div class="position-relative">
                                            <input readonly="readonly" type="text" class="form-control" value="5.60 лв." id="first-name-icon">
                                            <div class="form-control-icon">
                                                <i class="fas fa-hand-holding-usd"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div><br /><br  /><br /><br />
                                <div class="col-12 d-flex justify-content-end">
                                    <button class="btn btn-primary mr-1 mb-1">Редактирай</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
