<div class="page-title">
    <div class="row">
        <div class="col-12">
            <h3>Отказани поръчки</h3>
            <p class="text-subtitle text-muted">Можете да управлявате отказаните Ви поръчки за деня, като така направата на отчет става далеч по-приятна работа.</p>
        </div>
    </div>
</div>
<section class="section">
    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Направена</th>
                        <th class="text-center">Отказана</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>7:34</td>
                        <td>7:36</td>
                    </tr>
                    <tr>
                        <td>10:05</td>
                        <td>10:08</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
