<div class="page-title">
    <div class="row">
        <div class="col-12">
            <h3>Необработени поръчки</h3>
            <p class="text-subtitle text-muted">Тук са всички поръчки, направени онлайн, които изискват да бъдат обработени.</p>
        </div>
    </div>
</div>
<div class="card collapse-icon accordion-icon-rotate">
    <div class="card-content">
        <div class="card-body">
            <div class="accordion" id="cardAccordion">
                <div class="card open">
                    <div class="card-header" id="headingOne" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">
                        <span class="collapsed collapse-title">12:20, 17.03.2022</span>
                    </div>
                    <div id="collapseOne" class="collapse show pt-1" aria-labelledby="headingOne" data-parent="#cardAccordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label>Начална точка</label>
                                        <div class="position-relative">
                                            <input type="text" class="form-control" value='ул. "Батак" 18' readonly="readonly">
                                            <div class="form-control-icon">
                                                <i class="fas fa-street-view"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group position-relative">
                                        <label for="description">Уточнение за начална точка</label>
                                        <textarea class="form-control" rows="2" disabled>Ще бъда срещу входа на училище "Васил Друмев".</textarea>             
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label>Крайна точка</label>
                                        <div class="position-relative">
                                            <input type="text" class="form-control" value='ул. "Градинарска" 20' readonly="readonly">
                                            <div class="form-control-icon">
                                                <i class="fas fa-map-marked-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group position-relative">
                                        <label for="description">Уточнение за крайна точка</label>
                                        <textarea class="form-control" rows="2" disabled></textarea>             
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label>Брой пътуващи</label>
                                        <div class="position-relative">
                                            <input type="number" class="form-control" value="1" readonly="readonly">
                                            <div class="form-control-icon">
                                                <i class="fas fa-pen"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group position-relative">
                                        <label for="description">Допълнителни изисквания</label>
                                        <textarea class="form-control" rows="2" disabled>Помощ с багаж.</textarea>             
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-outline-primary mr-1 mb-1">Откажи</button>
                                <button type="submit" class="btn btn-primary mr-1 mb-1">Изпрати</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
